.row.cta.filter {
  padding-left: 15px;
}

.row.cta.filter a {
  padding: 10px 20px;
  margin-bottom: 15px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.row.cta.filter a.active {
  background: #e3872d;
  color: #fff;
}

.row.cta.filter a:hover {
  background: #e3872d;
  color: #fff;
}

.filter a {
position: relative;
}

.filter a.active:before {
content: '';
position: absolute;
left: 0;
top: 0;
display: inline-block;
width: 0;
height: 0;
border-style: solid;
border-width: 15px 15px 0 0;
border-color: #333 transparent transparent transparent;
}
.boxes {
display: flex;
flex-wrap: wrap;
}

.boxes a {
width: 31.3333%;
/* border: 1px solid #e3872d; */
box-shadow: 0 0 10px 7px #d3d3d333;
margin: 0 1% 20px 1%;
height: auto;
overflow: hidden;
}
@keyframes zoom-in {
0% {
 transform: scale(.1);
}
100% {
  transform: none;
}
}

@keyframes rotate-right {
0% {
  transform: translate(-100%) rotate(-100deg);
}
100% {
  transform: none;
}
}

.is-animated {
animation: .5s zoom-in;
/*animation: .6s rotate-right; */
}